.clearfix
  = f.label :parent_page, t("activerecord.attributes.page.slug", :default => "Parent"), :class => :label
  .input
    = f.collection_select(:parent_id, Page.find_parents, :id, :title, :include_blank => true )
.clearfix
  = f.label :title, t("activerecord.attributes.page.title", :default => "Title"), :class => :label
  .input
    = f.text_field :title, :class => 'text_field span9'
.clearfix
  = f.label :body, t("activerecord.attributes.page.body", :default => "Body"), :class => :label
  .input
    = f.text_area :body, :class => 'text_area span9'
.clearfix
  = f.label :attachment, "attachment"
  .input
    = f.file_field :attachable
- f.fields_for :attachments do |builder| 
  = render 'shared/attachments', :f => builder 

.form-actions
  %button{:class => "btn btn-primary", :type => "submit"} Save
  = link_to "Cancel", pages_path, :class => "btn btn-danger"
