%h2= @page.title
%p.page-content
  :markdown
    #{@page.body}
%h6
  Last updated
  = time_ago_in_words(@page.updated_at)+ " ago " 

- if current_user.try(:is_admin?)
  .form-actions
    = link_to "Edit Page", edit_page_path(@page), :class => 'btn btn-primary'
    = link_to "Delete Page", page_path(@page), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-danger'
