= render 'shared/breadcrumb'
%h2
  = @category.title
  Knowledge Base 

= render 'question_answers/question_answers'

- if current_user.try(:is_admin?)
  .form-actions
    = link_to "Change Category Name", edit_category_path(@category), :class => 'btn btn-primary'
    = link_to "Delete Category", category_path(@category), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-primary'
