= render 'shared/breadcrumb'
%h2
  = @category.title
  Knowledge Base 

= render 'question_answers/question_answers'

.form-actions
- if current_user.try(:is_admin?)
  = link_to "Back", categories_path, :class => 'btn'
  = link_to "Edit", edit_category_path(@category), :class => 'btn'
  = link_to "Delete", category_path(@category), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
